<header>
  <h1><%= link_to "富・名声・力", root_path %></h1>
  <nav class-"pc-nav">
    <ul>
      <li><%= link_to "刻まれた言葉", agitators_path %></li>
      <li><%= link_to "ログイン", login_path %></li>
    </ul>
  </nav>
</header>