<% content_for(:title, 'イントロダクション') %>
<h2>このアプリは？</h2>

<p>「富、名声、力……」から始まる某人気漫画のパロディミニアプリです。</p>


<h2>遊び方</h2>

<div class="form-group">
当アプリでは2つの遊び方が出来ます。
</div>

<h3>1. 某人気漫画キャラガチャ（アカウント不要）</h3>

<div class-="form-group">
下のリンクを押すと、”あの漫画の名言”が表示されます。だがどこか様子がおかしい……？全5種類。
</div>
<div class="form-group">
※キャラ崩壊注意
</div>

<div class="btn-b">
  <a href="#" id="button">ガチャを引く</a>
</div>

<h3><del>2. 某人気漫画プロローグメーカー（アカウント必要）</del>（現在はデータベース削除のため利用できません）</h3>
<p>アカウントを作る事で更なる高みへ。</p>

<div class="form-group">
<h3>”あのプロローグを作る事が出来る”</h3>
あなたは”全世界を震撼させた”現場に立ち会うことになります。
あなたもぜひ”語り手”となってみましょう。
</div>

<div class="form-group">
<h3>”作成したプロローグが残る”</h3>
作成したあなたのプロローグは、”刻まれた言葉”ページに残ります。
</div>

<div class="form-group">
まずは書いてみてください。
</div>

<div class="form-group">
  <div class="btn">
    <%= link_to "言葉を刻む（アカウント必要）", new_agitator_path %>
  </div>
</div>

<div class="form-group">
  <div class="btn">
    <%= link_to "刻まれた言葉を見る", agitators_path %>
  </div>
</div>

<div class="btn">
  <%= link_to "タイトルへ戻る", root_path %>
</div>

<script>
document.getElementById("button").addEventListener('click', function() {
    const subjectArray = [
        'https://tomi-meisei.onrender.com/result1', 'https://tomi-meisei.onrender.com/result2', 'https://tomi-meisei.onrender.com/result3',
        'https://tomi-meisei.onrender.com/result4', 'https://tomi-meisei.onrender.com/result5'
    ];

    const subject = subjectArray[Math.floor(Math.random() * subjectArray.length)];

    window.location.href = subject;
});
</script>