<% content_for(:title, 'イントロダクション') %>
<h2>このアプリは？</h2>

<p>「富、名声、力……」から始まる某人気漫画のパロディミニアプリです。</p>


<h2>どうやって遊ぶ？</h2>

<div class-="form-group">
下のリンクを押すと、”あの某人気漫画のプロローグ”が表示されます。全4種類。
</div>

<div class="btn-b">
  <%= link_to "プロローグ", random_result_path %>
</div>

<h2>アカウントを作ってさらなる高みへ</h2>
上記のように、このアプリはログインなしでも遊べますが、アカウントを作ると別モードでのプレイが可能に。
<div class="form-group">
<h3>”あのプロローグを作る事が出来る”</h3>
あなたは”全世界を震撼させた”現場に立ち会うことになります。
あなたもぜひ”語り手”となってみましょう。
</div>

<div class="form-group">
<h3>”作成したプロローグが残る”</h3>
作成したあなたのプロローグは、”刻まれた言葉”ページに残ります。
</div>

<div class="form-group">
まずは書いてみてください。
</div>
<div class="btn">
  <%= link_to "言葉を刻む（アカウント必要）", new_agitator_path %>
</div>
<br />
<div class="btn">
<%= link_to "刻まれた言葉を見る", agitators_path %>
</div>
<br />
<div class="btn">
  <%= link_to "タイトルへ戻る", root_path %>
</div>