<h1>このアプリは？</h1>

「富、名声、力……」から始まる某人気漫画のパロディミニアプリです。


<h2>どうやって遊ぶ？</h2>



<h2>アカウントを作ってさらなる高みへ</h2>
このアプリはログインなしでも遊べますが、アカウントを作ると出来ることがあります。
”好きな名前を入れられる”
”自分の残した言葉が残り、名言リストに自分の言葉が表示される”




<%= link_to "名無しで駆り立てる", "#" %>
<%= link_to "名前を明かして駆り立てる（アカウント必要）", "#" %>