<% content_for(:title, 'ロジャーの言葉') %>
<h2>結果</h2>

<% if @randam_roger.present? %>
  <%= @randam_roger.body %>

<div class="form-group">
  <div class="btn-b">
    <%= link_to "Xで共有する", "https://twitter.com/share?url=#{request.url}&text=#{URI.encode_www_form_component("#{@randam_roger.shortbody}")}&hashtags=#{URI.encode_www_form_component("ミニアプリ, トミメイセイ")}", target: '_blank' %>
  </div>
<% else %>
  ※もう少しお待ちください
<% end %>
