

新たな言葉が刻まれました。
<p>遊んでくれて……ありがとう!!!</p>

<div>
  <%= link_to "もう一度遊ぶ", new_agitator_path %>
</div>
<div>
  <%= link_to "他の刻まれた言葉を見る", agitators_path %>
</div>
<div>
  <%= link_to "タイトルへ戻る", root_path %>
</div>