<% content_for(:title, 'ガチャ結果1') %>
<h2>結果(1/5)</h2>
<div style="text-align: center;">
<div class="form-group">
<strong>
1人きりで学習を進める事を放棄したモンキー ・D・ルフィ
</strong>
</div>
  <%= image_tag 'mugiwarabouhi.png' %>
<div class="form-group">
<strong>「おれは助けてもらわねェと生きていけねェ自信がある!!!」</strong>
</div>

</div>
<div class="form-group">
  <div class="btn-b">
    <%= link_to "Xで共有する", "https://twitter.com/share?url=#{request.url}&text=#{URI.encode_www_form_component("1人きりで学習を進める事を放棄したモンキー ・D・ルフィ「おれは助けてもらわねェと生きていけねェ自信がある!!!」")}&hashtags=#{URI.encode_www_form_component("ミニアプリweek,トミメイセイ")}", target: '_blank' %>
  </div>

  <div class="btn">
  <%= link_to "タイトルへ", root_path %>
  </div>