<% content_for(:title, 'ガチャ結果3') %>
<h2>結果(3/5)</h2>
<div style="text-align: center;">
<div class="form-group">
<strong>
実装がうまくいかずも己を鼓舞するマルコ
</strong>
</div>
  <%= image_tag 'youkai_suzaku.png' %>
<div class="form-group">
<strong>「いきなり”キング”はとれねェだろうよい」</strong>
</div>

</div>
<div class="form-group">
  <div class="btn-b">
    <%= link_to "Xで共有する", "https://twitter.com/share?url=#{request.url}&text=#{URI.encode_www_form_component("実装がうまくいかずも己を鼓舞するマルコ「いきなり”キング”はとれねェだろうよい」")}&hashtags=#{URI.encode_www_form_component("ミニアプリweek,トミメイセイ")}", target: '_blank' %>
  </div>

  <div class="btn">
  <%= link_to "タイトルへ", root_path %>
  </div>

